@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');



html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;
    font-family: 'Roboto', 'Noto Sans Kr', sans-serif;
    word-break: keep-all;
}

.inner {
    @include inner ();
}

.section {
    @include sec ();
}

.blind {
    @include blind ();
}

.title {
    position: relative;
    @include tit ();
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $c-3;
}

.title::after {
    content: "";
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 30rem);
    height: 1px;
    background: $c-line;
}

.title h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'GmarketSansMedium';
    text-transform: uppercase;
}

.title p {
    font-size: 16px;
    line-height: 20px;
}

.btn {
    @include btn();
    transition: 0.5s;
}

.btn:hover {
    @include btnhover();
}

.btmore {
    display: block;
    position: relative;
    font-size: 16rem;
    font-weight: 500;
    transition: 0.3s;
}

.btmore span::after {
    content: "\e93f";
    font-family: Xeicon;
    top: 50%;
    right: - 10rem;
    transform: translate(0, -50%);
    font-size: 15rem;
    color: $c-6;
    transition: 0.3s;
}

.btmore:hover {
    color: $c-9;
}

.btmore:hover span::after {
    color: $c-point;
}