.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: $c-w;
    border-bottom: 1px solid $c-line;

    .head_wrap {
        height: 100rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;

        h1 {
            img {
                width: 300rem;
            }
        }

    }

    .gnb {
        &>ul {
            display: flex;
            gap: 40rem;

            &>li {
                position: relative;

                &>a {
                    display: block;
                    line-height: 100rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 0;
                    height: 5rem;
                    background: $c-point;
                    transition: 0.5s;
                }

                &:not(:first-child)::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -20rem;
                    transform: translate(0, -50%);
                    width: 1px;
                    height: 10rem;
                    background: $c-line;
                }

                .sub {
                    position: absolute;
                    top: 100rem;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background: rgba(255, 255, 255, 0.9);
                    backdrop-filter: blur(10px);

                    width: 200rem;
                    text-align: center;
                    padding: 10rem 0;
                    border-radius: 0 0 5rem 5rem;
                    border: 1px solid $c-line;

                    opacity: 0;
                    visibility: hidden;
                    transition: .5s;

                    li {
                        a {
                            display: block;
                            color: $c-2;
                            font-size: 14rem;
                            line-height: 40rem;
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid $c-line;
                        }

                        &:hover {
                            a {
                                background: $c-w;
                                color: $c-point;
                            }
                        }
                    }
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }

                    .sub {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

    }

    &.on {
        .head_wrap {
            height: 70rem;
        }

        .gnb {
            &>ul {
                &>li {
                    &>a {
                        line-height: 70rem;
                    }

                    .sub {
                        position: absolute;
                        top: 70rem;

                        li {
                            a {
                                display: block;
                                color: $c-2;
                                font-size: 14rem;
                                line-height: 40rem;
                            }

                            &:not(:last-child) {
                                border-bottom: 1px solid $c-line;
                            }

                            &:hover {
                                a {
                                    background: $c-w;
                                    color: $c-point;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mmenu {
    display: none;
}


@media (max-width:768px) {

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;

        .head_wrap {
            height: 80rem;

            h1 {
                position: fixed;
                top: 30rem;
                left: 30rem;
                z-index: 1001;

                img {
                    width: 200rem;
                    max-width: 200rem;
                }
            }

        }

        .gnb {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -100%;
            z-index: 980;
            width: 100%;
            height: auto;
            background: url(../images/visualBG.jpg) no-repeat center 80%;

            display: block;
            transition: 0.5s;

            &.on {
                left: 0;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                z-index: -2;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 1) 25%);
            }

            &::after {
                content: "ARKO Arts Theater & Daehakro Arts Theater";
                position: absolute;
                bottom: 50rem;
                left: 50%;
                z-index: -1;
                transform: translate(-50%, 0);
                width: calc(100% - 100rem);


                font-size: 20rem;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;

                color: $c-w;
                text-shadow: 0 0 10rem rgba(0, 0, 0, 0.3);
                user-select: none;

            }

            &>ul {
                display: flex;
                flex-direction: column;
                gap: 0;
                padding: 100rem 30rem 0 30rem;

                &>li {
                    font-size: 16rem;
                    border-bottom: 1px solid $c-line;

                    &>a {
                        line-height: 50rem;
                    }

                    &::before {
                        display: none;
                    }

                    &:not(:first-child)::after {
                        display: none;
                    }

                    .sub {
                        position: static;
                        top: auto;
                        left: 0;
                        right: 0;
                        z-index: 999;
                        transform: translate(0, 0);
                        background: $c-wb;
                        backdrop-filter: blur(10px);

                        width: auto;
                        text-align: center;
                        padding: 0 0;
                        border-radius: 0;
                        border: 0 solid var(--lc);

                        opacity: 1;
                        visibility: visible;
                        transition: none;

                        display: none;

                        li {
                            &:not(:last-child) {
                                border-bottom: 1px solid $c-line;
                            }

                            &:hover {
                                a {
                                    background: none;
                                    color: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.on {
            .head_wrap {
                height: 80rem;


                .gnb {
                    &>ul {
                        &>li {
                            &>a {
                                line-height: 50rem;
                            }

                            .sub {
                                position: static;
                                top: auto;
                                left: 0;
                                right: 0;
                                z-index: 999;
                                transform: translate(0, 0);
                                background: $c-wb;
                                backdrop-filter: blur(10px);

                                width: auto;
                                text-align: center;
                                padding: 0 0;
                                border-radius: 0;
                                border: 0 solid var(--lc);

                                opacity: 1;
                                visibility: visible;
                                transition: none;

                                display: none;

                                li {
                                    &:not(:last-child) {
                                        border-bottom: 1px solid $c-line;
                                    }

                                    &:hover {
                                        a {
                                            background: none;
                                            color: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        .mmenu {
            position: fixed;
            top: 30rem;
            right: 30rem;
            z-index: 1000;
            display: block;

            i {
                font-size: 20rem;
            }
        }
    }
}