.main_notice {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400rem;
        clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
        background: $c-wb;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 300rem;
        gap: 10rem;

        .not_left {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10rem;

            li {
                border: 1px solid $c-line;
                height: 250rem;
                transform: translate(0, 0);
                transition: 0.5s;

                &:hover {
                    transform: translate(0, -10rem);
                }

                a {
                    display: flex;
                    flex-direction: column;
                    padding: 30rem;
                    height: 100%;

                    strong {
                        display: block;
                        font-size: 14rem;
                        line-height: 18rem;
                        color: $c-main;
                        margin: 0 0 8rem 0;
                    }

                    p {
                        font-size: 16rem;
                        line-height: 20rem;
                        margin: 0 0 auto 0;
                    }

                    span {
                        font-size: 14rem;
                        color: $c-9;
                    }
                }
            }
        }

        .not_right {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                outline: 1px solid $c-line;
                transition: 0.5s;

                a {
                    display: block;
                    padding: 20rem;

                    img {
                        max-width: 110rem;
                        object-fit: cover;
                    }
                }

                &:hover {
                    background: $c-wb;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .main_notice {

        &::after {
            display: none;
        }

        .content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10rem;

            .not_left {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10rem;

                li {
                    height: auto;

                    &:hover {
                        transform: translate(0, 0);
                    }

                    a {
                        padding: 20rem;

                        p {
                            margin: 0 0 28rem 0;
                        }
                    }
                }
            }
        }
    }
}