.main_schedule {
    position: relative;
    background: $c-2;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400rem;
        clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
        background: $c-w;
    }

    .content {
        .sc_top {
            position: relative;
            display: grid;
            grid-template-columns: 100rem 1fr;
            align-items: center;
            gap: $gap;
            height: 100rem;


            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 15rem;
                width: 1px;
                height: 100%;
                background: $c-4;
            }

            .month {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $c-2;
                width: 100rem;
                height: 100rem;
                background: $c-main;


                &>b {
                    font-size: 30rem;
                    font-weight: 700;
                }

                &>span {
                    font-size: 14rem;
                    text-transform: uppercase;
                }
            }

            .sd_day {
                display: flex;

                &>* {
                    flex: 1;
                }

                li {
                    position: relative;
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    user-select: none;
                    cursor: pointer;

                    span {
                        font-size: 14rem;
                        line-height: 18rem;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: $c-9;
                    }

                    strong {
                        font-size: 20rem;
                        line-height: 24rem;
                        font-weight: 500;
                        color: $c-wb;
                    }

                    &.on {

                        &::before {
                            content: "";
                            @include pcen ();
                            z-index: -1;
                            width: 70rem;
                            height: 70rem;
                            border-radius: 50%;
                            background: $c-sub;
                        }

                        span {
                            color: $c-6;
                        }

                        strong {
                            color: $c-2;
                        }
                    }

                    &:not(:first-child)::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -2rem;
                        transform: translate(0, -50%);
                        width: 3rem;
                        height: 3rem;
                        background: $c-4;
                        border-radius: 50%;
                    }
                }
            }
        }

        .sc_bottom {
            padding: 50rem 0;
            background: $c-main;
            min-height: 440rem;

            .tit {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin: 0 0 20rem 0;

                h3 {
                    font-family: 'GmarketSansMedium';
                    font-size: 30rem;
                    font-weight: 700;
                }

                p {
                    font-size: 15rem;
                    line-height: 20rem;
                    color: $c-4;

                    a {
                        font-weight: 500;
                        color: $c-b;
                    }
                }
            }

            .sd_show {
                &>li {
                    display: none;

                    .not {
                        padding: 32rem 0;
                    }

                    .schedule {
                        padding: 26rem 30rem 30rem 30rem;
                        background: $c-w;
                        border-radius: 5rem;
                        box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.1);

                        span {
                            font-size: 14rem;
                            color: $c-point;
                        }

                        p {
                            font-size: 18rem;
                            line-height: 22rem;
                            font-weight: 500;
                            color: $c-4;
                            margin: 10rem 0 0 0;
                        }

                    }

                    &.on {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: $gap;

                    }

                    /* &.on:nth-child(5),
                    &.on:nth-child(6),
                    &.on:nth-child(7) {
                        display: block;

                        &>ul {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: $gap;
                        }
                    } */
                }
            }
        }
    }
}

@media (max-width:768px) {
    .main_schedule {
        &::after {
            display: none;
        }

        .content {
            .sc_top {
                &::after {
                    display: none;
                }

                .sd_day {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 15rem;

                    li {
                        flex-direction: row-reverse;
                        gap: 5rem;
                        justify-content: flex-end;

                        span {
                            font-size: 10rem;
                            color: $c-6;
                        }

                        strong {
                            font-size: 16rem;
                            letter-spacing: -0.25rem;
                        }

                        &.on {

                            &::before {
                                display: none;
                            }

                            span {
                                transform: translate(5rem, 0);
                                color: $c-line;
                            }

                            strong {
                                position: relative;
                                color: $c-b;

                                &::before {
                                    content: "";
                                    @include pcen ();
                                    z-index: -1;
                                    width: 30rem;
                                    height: 30rem;
                                    border-radius: 50%;
                                    background: $c-sub;
                                }
                            }
                        }

                        &:not(:first-child)::after {
                            display: none;
                        }
                    }
                }
            }

            .sc_bottom {
                padding: 40rem 0;
                width: 100%;
                min-height: 350rem;

                .tit {
                    margin: 0 0 30rem 0;

                    p {
                        font-size: 14rem;
                        color: $c-6;
                        text-align: right;
                    }
                }

                .sd_show {
                    &>li {
                        display: none;

                        .not {
                            font-size: 14rem;
                            text-align: center;
                            padding: 32rem 0;
                            background: $c-w;
                            border-radius: 5rem;
                        }

                        .schedule {
                            padding: 20rem 24rem 24rem 24rem;

                            span {
                                font-size: 14rem;
                                color: $c-point;
                            }

                            p {
                                font-size: 18rem;
                                line-height: 22rem;
                                font-weight: 500;
                                color: $c-4;
                                margin: 10rem 0 0 0;
                            }

                        }

                        &.on {
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 10rem;
                        }
                    }
                }
            }
        }
    }
}