.main_ticket {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400rem;
        clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
        background: $c-wb;
    }

    .content {
        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20rem;

            li {
                border: 1px solid $c-line;
                width: 100%;
                height: 250rem;
                transform: translate(0, 0);
                transition: 0.5s;

                &:hover {
                    transform: translate(0, -10rem);
                }

                a {
                    display: flex;
                    flex-direction: column;
                    padding: 30rem;
                    height: 100%;

                    strong {
                        display: block;
                        font-size: 14rem;
                        line-height: 18rem;
                        color: $c-main;
                        margin: 0 0 8rem 0;
                    }

                    p {
                        font-size: 16rem;
                        line-height: 20rem;
                        margin: 0 0 auto 0;
                    }

                    span {
                        font-size: 14rem;
                        color: $c-9;
                    }
                }

            }
        }
    }
}

@media (max-width:768px) {
    .main_ticket {

        &::after {
            display: none;
        }

        .content {
            ul {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20rem;

                li {
                    height: auto;

                    &:hover {
                        transform: translate(0, 0);
                    }

                    a {
                        padding: 20rem;

                        p {
                            margin: 0 0 28rem 0;
                        }
                    }
                }
            }
        }
    }
}