@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 6.25%;
}

body {
  font-size: 16rem;
  font-family: "Roboto", "Noto Sans Kr", sans-serif;
  word-break: keep-all;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15rem;
}

.section {
  padding: 100rem 0;
}
@media (max-width: 768px) {
  .section {
    padding: 70rem 0;
  }
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.title {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 38px auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 30rem);
  height: 1px;
  background: #e5e5e5;
}

.title h2 {
  font-size: 30rem;
  font-weight: 700;
  font-family: "GmarketSansMedium";
  text-transform: uppercase;
}

.title p {
  font-size: 16rem;
  line-height: 20rem;
}

.btn {
  display: block;
  padding: 10rem 20rem 8rem 20rem;
  background: #222;
  color: #d2a5fa;
  border-radius: 5rem;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .btn {
    padding: 8rem 16rem 6rem 16rem;
    font-size: 14rem;
    background: #222;
    color: #d2a5fa;
    border-radius: 5rem;
  }
}

.btn:hover {
  display: block;
  padding: 10rem 20rem 8rem 20rem;
  background: #d2a5fa;
  color: #222;
  border-radius: 5rem;
}
@media (max-width: 768px) {
  .btn:hover {
    padding: 8rem 16rem 6rem 16rem;
    font-size: 14rem;
  }
}

.btmore {
  display: block;
  position: relative;
  font-size: 16rem;
  font-weight: 500;
  transition: 0.3s;
}

.btmore span::after {
  content: "\e93f";
  font-family: Xeicon;
  top: 50%;
  right: -10rem;
  transform: translate(0, -50%);
  font-size: 15rem;
  color: #666;
  transition: 0.3s;
}

.btmore:hover {
  color: #999;
}

.btmore:hover span::after {
  color: #ff9b46;
}

@media (max-width: 768px) {
  html {
    font-size: 1px;
  }
  .title h2 {
    font-size: 25rem;
    font-weight: 700;
    font-family: "GmarketSansMedium";
    text-transform: uppercase;
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.header .head_wrap {
  height: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.header .head_wrap h1 img {
  width: 300rem;
}
.header .gnb > ul {
  display: flex;
  gap: 40rem;
}
.header .gnb > ul > li {
  position: relative;
}
.header .gnb > ul > li > a {
  display: block;
  line-height: 100rem;
}
.header .gnb > ul > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 5rem;
  background: #ff9b46;
  transition: 0.5s;
}
.header .gnb > ul > li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -20rem;
  transform: translate(0, -50%);
  width: 1px;
  height: 10rem;
  background: #e5e5e5;
}
.header .gnb > ul > li .sub {
  position: absolute;
  top: 100rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 200rem;
  text-align: center;
  padding: 10rem 0;
  border-radius: 0 0 5rem 5rem;
  border: 1px solid #e5e5e5;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.header .gnb > ul > li .sub li a {
  display: block;
  color: #222;
  font-size: 14rem;
  line-height: 40rem;
}
.header .gnb > ul > li .sub li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.header .gnb > ul > li .sub li:hover a {
  background: #fff;
  color: #ff9b46;
}
.header .gnb > ul > li:hover::before {
  width: 100%;
}
.header .gnb > ul > li:hover .sub {
  opacity: 1;
  visibility: visible;
}
.header.on .head_wrap {
  height: 70rem;
}
.header.on .gnb > ul > li > a {
  line-height: 70rem;
}
.header.on .gnb > ul > li .sub {
  position: absolute;
  top: 70rem;
}
.header.on .gnb > ul > li .sub li a {
  display: block;
  color: #222;
  font-size: 14rem;
  line-height: 40rem;
}
.header.on .gnb > ul > li .sub li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.header.on .gnb > ul > li .sub li:hover a {
  background: #fff;
  color: #ff9b46;
}

.mmenu {
  display: none;
}

@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .header .head_wrap {
    height: 80rem;
  }
  .header .head_wrap h1 {
    position: fixed;
    top: 30rem;
    left: 30rem;
    z-index: 1001;
  }
  .header .head_wrap h1 img {
    width: 200rem;
    max-width: 200rem;
  }
  .header .gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 980;
    width: 100%;
    height: auto;
    background: url(../images/visualBG.jpg) no-repeat center 80%;
    display: block;
    transition: 0.5s;
  }
  .header .gnb.on {
    left: 0;
  }
  .header .gnb::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgb(255, 255, 255) 25%);
  }
  .header .gnb::after {
    content: "ARKO Arts Theater & Daehakro Arts Theater";
    position: absolute;
    bottom: 50rem;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, 0);
    width: calc(100% - 100rem);
    font-size: 20rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10rem rgba(0, 0, 0, 0.3);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .header .gnb > ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 100rem 30rem 0 30rem;
  }
  .header .gnb > ul > li {
    font-size: 16rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .header .gnb > ul > li > a {
    line-height: 50rem;
  }
  .header .gnb > ul > li::before {
    display: none;
  }
  .header .gnb > ul > li:not(:first-child)::after {
    display: none;
  }
  .header .gnb > ul > li .sub {
    position: static;
    top: auto;
    left: 0;
    right: 0;
    z-index: 999;
    transform: translate(0, 0);
    background: #f9f8f7;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: auto;
    text-align: center;
    padding: 0 0;
    border-radius: 0;
    border: 0 solid var(--lc);
    opacity: 1;
    visibility: visible;
    transition: none;
    display: none;
  }
  .header .gnb > ul > li .sub li:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
  .header .gnb > ul > li .sub li:hover a {
    background: none;
    color: none;
  }
  .header.on .head_wrap {
    height: 80rem;
  }
  .header.on .head_wrap .gnb > ul > li > a {
    line-height: 50rem;
  }
  .header.on .head_wrap .gnb > ul > li .sub {
    position: static;
    top: auto;
    left: 0;
    right: 0;
    z-index: 999;
    transform: translate(0, 0);
    background: #f9f8f7;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: auto;
    text-align: center;
    padding: 0 0;
    border-radius: 0;
    border: 0 solid var(--lc);
    opacity: 1;
    visibility: visible;
    transition: none;
    display: none;
  }
  .header.on .head_wrap .gnb > ul > li .sub li:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
  .header.on .head_wrap .gnb > ul > li .sub li:hover a {
    background: none;
    color: none;
  }
  .header .mmenu {
    position: fixed;
    top: 30rem;
    right: 30rem;
    z-index: 1000;
    display: block;
  }
  .header .mmenu i {
    font-size: 20rem;
  }
}
.main_visual .bg {
  position: relative;
  z-index: 990;
  background: url(../images/visualBG.jpg) no-repeat right 90%/cover;
  height: 700rem;
  overflow: hidden;
}
.main_visual .bg::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-backdrop-filter: grayscale(0.5);
          backdrop-filter: grayscale(0.5);
}
.main_visual .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.main_visual .inner .main_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.main_visual .inner .main_left h2 {
  width: 600rem;
  font-size: 70rem;
  font-weight: 900;
  line-height: 70rem;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 20rem 0;
  text-shadow: 0 0 10rem rgba(0, 0, 0, 0.2);
}
.main_visual .inner .main_left .showsearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30rem;
  width: 100%;
  padding: 20rem 30rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10rem);
          backdrop-filter: blur(10rem);
  border-radius: 10rem;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
}
.main_visual .inner .main_left .showsearch > strong {
  font-size: 18rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main_visual .inner .main_left .showsearch input[type=text] {
  width: 380rem;
  border: none;
  outline: none;
  font-size: 12rem;
  font-family: "Noto Sans KR";
  padding: 5rem 10rem 7rem 10rem;
  border-radius: 5rem;
  color: #999;
}
.main_visual .inner .main_left .showsearch input[type=text]:focus {
  color: #000;
}
.main_visual .inner .main_left .showsearch button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 20rem;
  vertical-align: middle;
  color: #000;
  margin: 0 0 0 10rem;
  cursor: pointer;
}
.main_visual .main_slide {
  position: relative;
  width: 400rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
}
.main_visual .main_slide::after {
  content: "판매진행";
  position: absolute;
  top: 60rem;
  right: -50rem;
  width: 100rem;
  height: 30rem;
  line-height: 30rem;
  text-align: center;
  font-size: 14rem;
  font-weight: 700;
  background: #ffeb32;
  border-radius: 0 20rem 20rem 0;
  border: 1px solid #000;
}
.main_visual .main_slide .itm {
  height: 700rem;
  padding: 30rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10rem);
          backdrop-filter: blur(10rem);
}
.main_visual .main_slide .itm figure {
  margin: 0 0 30rem 0;
  border-radius: 5rem;
  overflow: hidden;
}
.main_visual .main_slide .itm figure img {
  width: 100%;
  height: 440rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_visual .main_slide .itm .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150rem;
}
.main_visual .main_slide .itm .txt h3 {
  font-size: 25rem;
  font-weight: 700;
  margin: 0 0 auto 0;
}
.main_visual .main_slide .itm .txt h3 span {
  display: block;
  font-size: 14rem;
  line-height: 20rem;
  font-weight: 300;
}
.main_visual .main_slide .itm .txt h3 strong {
  display: inline-block;
  font-size: 16rem;
  line-height: 22rem;
  font-weight: 500;
  color: #666;
}
.main_visual .main_slide .itm .txt p {
  font-size: 15rem;
  line-height: 19rem;
  color: #444;
  margin: 0 0 18rem 0;
}
.main_visual .arrows {
  position: absolute;
  bottom: 10rem;
  right: -50rem;
  z-index: 990;
}
.main_visual .arrows i {
  padding: 15rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 20rem;
  color: #fff;
}
.main_visual .arrows .left {
  position: absolute;
  bottom: 60rem;
}

@media (max-width: 768px) {
  .main_visual .bg {
    height: 550rem;
  }
  .main_visual .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 990;
    background: url(../images/MainVIsual01.jpg) no-repeat center center/cover;
  }
  .main_visual .inner::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(222, 222, 222, 0.7) 100%);
    -webkit-backdrop-filter: grayscale(0.5);
            backdrop-filter: grayscale(0.5);
  }
  .main_visual .inner .main_left {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin: 0 0 20rem 0;
  }
  .main_visual .inner .main_left h2 {
    width: auto;
    font-size: 25rem;
    line-height: 1;
    text-align: center;
  }
  .main_visual .inner .main_left .showsearch {
    display: flex;
    justify-content: space-between;
    padding: 15rem 25rem;
    gap: 20rem;
  }
  .main_visual .inner .main_left .showsearch > strong {
    font-size: 16rem;
  }
  .main_visual .inner .main_left .showsearch form {
    display: flex;
    gap: 0;
  }
  .main_visual .inner .main_left .showsearch input[type=text] {
    max-width: 380rem;
    width: 100%;
  }
  .main_visual .inner .main_left .showsearch button {
    font-size: 18rem;
    padding: 0;
    color: #666;
    margin: 0 0 0 15rem;
  }
  .main_visual .main_slide {
    display: block;
    width: 100%;
  }
  .main_visual .main_slide::after {
    display: none;
  }
  .main_visual .main_slide .itm {
    display: grid;
    grid-template-columns: 150rem 1fr;
    gap: 10rem;
    padding: 20rem;
    height: auto;
    border-radius: 10rem;
  }
  .main_visual .main_slide .itm figure {
    margin: 0 0 0 0;
    border-radius: 5rem;
    overflow: hidden;
  }
  .main_visual .main_slide .itm figure img {
    width: 100%;
    height: 220rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main_visual .main_slide .itm .txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    height: 220rem;
  }
  .main_visual .main_slide .itm .txt h3 {
    font-size: 20rem;
    font-weight: 700;
    margin: 0 0 auto 0;
  }
  .main_visual .main_slide .itm .txt h3 span {
    display: block;
    font-size: 12rem;
    line-height: 16rem;
    font-weight: 300;
    margin: 0 0 5rem 0;
  }
  .main_visual .main_slide .itm .txt h3 strong {
    display: inline-block;
    font-size: 14rem;
    line-height: 18rem;
    font-weight: 500;
    color: #666;
  }
  .main_visual .main_slide .itm .txt p {
    font-size: 12rem;
    line-height: 18rem;
    color: #444;
    margin: 0 0 17rem 0;
  }
  .main_visual .arrows {
    position: absolute;
    bottom: 20rem;
    right: 15rem;
    z-index: 990;
    display: flex;
    gap: 8rem;
  }
  .main_visual .arrows i {
    padding: 10rem;
    border: none;
    font-size: 16rem;
    background: rgba(255, 255, 255, 0.9);
    color: #666;
    border-radius: 5rem;
  }
  .main_visual .arrows .left {
    position: relative;
    bottom: auto;
  }
}
.main_schedule {
  position: relative;
  background: #222;
}
.main_schedule::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
  background: #fff;
}
.main_schedule .content .sc_top {
  position: relative;
  display: grid;
  grid-template-columns: 100rem 1fr;
  align-items: center;
  gap: 30rem;
  height: 100rem;
}
.main_schedule .content .sc_top::after {
  content: "";
  position: absolute;
  top: 0;
  right: 15rem;
  width: 1px;
  height: 100%;
  background: #444;
}
.main_schedule .content .sc_top .month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  width: 100rem;
  height: 100rem;
  background: #d2a5fa;
}
.main_schedule .content .sc_top .month > b {
  font-size: 30rem;
  font-weight: 700;
}
.main_schedule .content .sc_top .month > span {
  font-size: 14rem;
  text-transform: uppercase;
}
.main_schedule .content .sc_top .sd_day {
  display: flex;
}
.main_schedule .content .sc_top .sd_day > * {
  flex: 1;
}
.main_schedule .content .sc_top .sd_day li {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main_schedule .content .sc_top .sd_day li span {
  font-size: 14rem;
  line-height: 18rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #999;
}
.main_schedule .content .sc_top .sd_day li strong {
  font-size: 20rem;
  line-height: 24rem;
  font-weight: 500;
  color: #f9f8f7;
}
.main_schedule .content .sc_top .sd_day li.on::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  background: #ffeb32;
}
.main_schedule .content .sc_top .sd_day li.on span {
  color: #666;
}
.main_schedule .content .sc_top .sd_day li.on strong {
  color: #222;
}
.main_schedule .content .sc_top .sd_day li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translate(0, -50%);
  width: 3rem;
  height: 3rem;
  background: #444;
  border-radius: 50%;
}
.main_schedule .content .sc_bottom {
  padding: 50rem 0;
  background: #d2a5fa;
  min-height: 440rem;
}
.main_schedule .content .sc_bottom .tit {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 20rem 0;
}
.main_schedule .content .sc_bottom .tit h3 {
  font-family: "GmarketSansMedium";
  font-size: 30rem;
  font-weight: 700;
}
.main_schedule .content .sc_bottom .tit p {
  font-size: 15rem;
  line-height: 20rem;
  color: #444;
}
.main_schedule .content .sc_bottom .tit p a {
  font-weight: 500;
  color: #000;
}
.main_schedule .content .sc_bottom .sd_show > li {
  display: none;
  /* &.on:nth-child(5),
  &.on:nth-child(6),
  &.on:nth-child(7) {
      display: block;

      &>ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: $gap;
      }
  } */
}
.main_schedule .content .sc_bottom .sd_show > li .not {
  padding: 32rem 0;
}
.main_schedule .content .sc_bottom .sd_show > li .schedule {
  padding: 26rem 30rem 30rem 30rem;
  background: #fff;
  border-radius: 5rem;
  box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.1);
}
.main_schedule .content .sc_bottom .sd_show > li .schedule span {
  font-size: 14rem;
  color: #ff9b46;
}
.main_schedule .content .sc_bottom .sd_show > li .schedule p {
  font-size: 18rem;
  line-height: 22rem;
  font-weight: 500;
  color: #444;
  margin: 10rem 0 0 0;
}
.main_schedule .content .sc_bottom .sd_show > li.on {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30rem;
}

@media (max-width: 768px) {
  .main_schedule::after {
    display: none;
  }
  .main_schedule .content .sc_top::after {
    display: none;
  }
  .main_schedule .content .sc_top .sd_day {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15rem;
  }
  .main_schedule .content .sc_top .sd_day li {
    flex-direction: row-reverse;
    gap: 5rem;
    justify-content: flex-end;
  }
  .main_schedule .content .sc_top .sd_day li span {
    font-size: 10rem;
    color: #666;
  }
  .main_schedule .content .sc_top .sd_day li strong {
    font-size: 16rem;
    letter-spacing: -0.25rem;
  }
  .main_schedule .content .sc_top .sd_day li.on::before {
    display: none;
  }
  .main_schedule .content .sc_top .sd_day li.on span {
    transform: translate(5rem, 0);
    color: #e5e5e5;
  }
  .main_schedule .content .sc_top .sd_day li.on strong {
    position: relative;
    color: #000;
  }
  .main_schedule .content .sc_top .sd_day li.on strong::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background: #ffeb32;
  }
  .main_schedule .content .sc_top .sd_day li:not(:first-child)::after {
    display: none;
  }
  .main_schedule .content .sc_bottom {
    padding: 40rem 0;
    width: 100%;
    min-height: 350rem;
  }
  .main_schedule .content .sc_bottom .tit {
    margin: 0 0 30rem 0;
  }
  .main_schedule .content .sc_bottom .tit p {
    font-size: 14rem;
    color: #666;
    text-align: right;
  }
  .main_schedule .content .sc_bottom .sd_show > li {
    display: none;
  }
  .main_schedule .content .sc_bottom .sd_show > li .not {
    font-size: 14rem;
    text-align: center;
    padding: 32rem 0;
    background: #fff;
    border-radius: 5rem;
  }
  .main_schedule .content .sc_bottom .sd_show > li .schedule {
    padding: 20rem 24rem 24rem 24rem;
  }
  .main_schedule .content .sc_bottom .sd_show > li .schedule span {
    font-size: 14rem;
    color: #ff9b46;
  }
  .main_schedule .content .sc_bottom .sd_show > li .schedule p {
    font-size: 18rem;
    line-height: 22rem;
    font-weight: 500;
    color: #444;
    margin: 10rem 0 0 0;
  }
  .main_schedule .content .sc_bottom .sd_show > li.on {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10rem;
  }
}
.main_ticket {
  position: relative;
}
.main_ticket::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
  background: #f9f8f7;
}
.main_ticket .content ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20rem;
}
.main_ticket .content ul li {
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 250rem;
  transform: translate(0, 0);
  transition: 0.5s;
}
.main_ticket .content ul li:hover {
  transform: translate(0, -10px);
}
.main_ticket .content ul li a {
  display: flex;
  flex-direction: column;
  padding: 30rem;
  height: 100%;
}
.main_ticket .content ul li a strong {
  display: block;
  font-size: 14rem;
  line-height: 18rem;
  color: #d2a5fa;
  margin: 0 0 8rem 0;
}
.main_ticket .content ul li a p {
  font-size: 16rem;
  line-height: 20rem;
  margin: 0 0 auto 0;
}
.main_ticket .content ul li a span {
  font-size: 14rem;
  color: #999;
}

@media (max-width: 768px) {
  .main_ticket::after {
    display: none;
  }
  .main_ticket .content ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20rem;
  }
  .main_ticket .content ul li {
    height: auto;
  }
  .main_ticket .content ul li:hover {
    transform: translate(0, 0);
  }
  .main_ticket .content ul li a {
    padding: 20rem;
  }
  .main_ticket .content ul li a p {
    margin: 0 0 28rem 0;
  }
}
.main_theater {
  position: relative;
  background: #f9f8f7;
}
.main_theater::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
  background: #fff;
}
.main_theater .content {
  max-width: 1440rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.main_theater .content .the_left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem;
}
.main_theater .content .the_left li {
  position: relative;
  cursor: pointer;
}
.main_theater .content .the_left li .imgbox {
  position: relative;
  filter: grayscale(0.7);
}
.main_theater .content .the_left li .imgbox img {
  height: 330rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #e5e5e5;
}
.main_theater .content .the_left li .imgbox::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(255, 255, 255, 0.3);
}
.main_theater .content .the_left li.on .imgbox {
  filter: grayscale(0);
}
.main_theater .content .the_left li.on .imgbox::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(255, 255, 255, 0);
}
.main_theater .content .the_right {
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20rem;
}
.main_theater .content .the_right .show_slide {
  width: 430rem;
}
.main_theater .content .the_right .show_slide figure .imgbox img {
  width: 100%;
}
.main_theater .content .the_right .show_slide figure figcaption {
  padding: 40rem 20rem;
}
.main_theater .content .the_right .show_slide figure figcaption .tag {
  display: flex;
  gap: 5rem;
  margin: 0 0 12rem 0;
}
.main_theater .content .the_right .show_slide figure figcaption .tag > li {
  padding: 10rem 20rem 7rem 20rem;
  background: #666;
  color: #f9f8f7;
  border-radius: 8rem;
}
.main_theater .content .the_right .show_slide figure figcaption .tag .dan {
  padding: 10rem 20rem 7rem 20rem;
  background: #ff9b46;
  color: #222;
  border-radius: 8rem;
}
.main_theater .content .the_right .show_slide figure figcaption .tag .act {
  padding: 10rem 20rem 7rem 20rem;
  background: #d2a5fa;
  color: #222;
  border-radius: 8rem;
}
.main_theater .content .the_right .show_slide figure figcaption h3 {
  font-size: 24rem;
  line-height: 28rem;
  font-weight: 700;
  margin: 0 0 18rem 0;
}
.main_theater .content .the_right .show_slide figure figcaption .des {
  margin: 0 0 24rem 0;
}
.main_theater .content .the_right .show_slide figure figcaption .des li {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14rem;
  line-height: 18rem;
}
.main_theater .content .the_right .show_slide figure figcaption .des li > strong {
  font-weight: 500;
}
.main_theater .content .the_right .show_slide figure figcaption a {
  display: block;
  padding: 10rem 25rem 8rem 25rem;
  border: 1px solid #666;
  color: #444;
  font-size: 14rem;
  border-radius: 5rem;
  text-align: center;
  transition: 0.5s;
}
.main_theater .content .the_right .show_slide figure figcaption a:hover {
  background: #666;
  color: #fff;
}

@media (max-width: 768px) {
  .main_theater::after {
    display: none;
  }
  .main_theater .content {
    display: block;
  }
  .main_theater .content .the_left {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 0 0 30rem 0;
  }
  .main_theater .content .the_left li .imgbox img {
    height: auto;
  }
  .main_theater .content .the_right .show_slide {
    width: 100%;
  }
  .main_theater .content .the_right .show_slide figure figcaption {
    padding: 30rem 0rem;
  }
  .main_theater .content .the_right .show_slide figure figcaption .tag {
    display: flex;
    gap: 5rem;
    margin: 0 0 12rem 0;
    font-size: 12rem;
    font-weight: 500;
  }
  .main_theater .content .the_right .show_slide figure figcaption .tag > li {
    padding: 7rem 15rem 5rem 15rem;
    background: #666;
    color: #f9f8f7;
    border-radius: 4rem;
  }
  .main_theater .content .the_right .show_slide figure figcaption .tag .dan {
    padding: 7rem 15rem 5rem 15rem;
    background: #ff9b46;
    color: #222;
    border-radius: 4rem;
  }
  .main_theater .content .the_right .show_slide figure figcaption .tag .act {
    padding: 7rem 15rem 5rem 15rem;
    background: #d2a5fa;
    color: #222;
    border-radius: 4rem;
  }
  .main_theater .content .the_right .show_slide figure figcaption h3 {
    font-size: 22rem;
    line-height: 26rem;
    font-weight: 700;
    margin: 0 0 18rem 0;
  }
  .main_theater .content .the_right .show_slide figure figcaption .des {
    margin: 0 0 24rem 0;
  }
  .main_theater .content .the_right .show_slide figure figcaption .des li {
    display: flex;
    justify-content: space-between;
    padding: 10rem 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14rem;
    line-height: 18rem;
    font-weight: 300;
  }
  .main_theater .content .the_right .show_slide figure figcaption .des li > strong {
    font-weight: 500;
  }
  .main_theater .content .the_right .show_slide figure figcaption a {
    display: block;
    padding: 10rem 25rem 8rem 25rem;
    border: 1px solid #666;
    color: #444;
    font-size: 14rem;
    border-radius: 5rem;
    text-align: center;
    transition: 0.5s;
  }
  .main_theater .content .the_right .show_slide figure figcaption a:hover {
    background: #666;
    color: #fff;
  }
}
.main_notice {
  position: relative;
}
.main_notice::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0% 100%);
  background: #f9f8f7;
}
.main_notice .content {
  display: grid;
  grid-template-columns: 1fr 300rem;
  gap: 10rem;
}
.main_notice .content .not_left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}
.main_notice .content .not_left li {
  border: 1px solid #e5e5e5;
  height: 250rem;
  transform: translate(0, 0);
  transition: 0.5s;
}
.main_notice .content .not_left li:hover {
  transform: translate(0, -10px);
}
.main_notice .content .not_left li a {
  display: flex;
  flex-direction: column;
  padding: 30rem;
  height: 100%;
}
.main_notice .content .not_left li a strong {
  display: block;
  font-size: 14rem;
  line-height: 18rem;
  color: #d2a5fa;
  margin: 0 0 8rem 0;
}
.main_notice .content .not_left li a p {
  font-size: 16rem;
  line-height: 20rem;
  margin: 0 0 auto 0;
}
.main_notice .content .not_left li a span {
  font-size: 14rem;
  color: #999;
}
.main_notice .content .not_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main_notice .content .not_right li {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid #e5e5e5;
  transition: 0.5s;
}
.main_notice .content .not_right li a {
  display: block;
  padding: 20rem;
}
.main_notice .content .not_right li a img {
  max-width: 110rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_notice .content .not_right li:hover {
  background: #f9f8f7;
}

@media (max-width: 768px) {
  .main_notice::after {
    display: none;
  }
  .main_notice .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10rem;
  }
  .main_notice .content .not_left {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10rem;
  }
  .main_notice .content .not_left li {
    height: auto;
  }
  .main_notice .content .not_left li:hover {
    transform: translate(0, 0);
  }
  .main_notice .content .not_left li a {
    padding: 20rem;
  }
  .main_notice .content .not_left li a p {
    margin: 0 0 28rem 0;
  }
}
.main_snscon {
  background: #f9f8f7;
}
.main_snscon .content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30rem;
}
.main_snscon .content ul li {
  background: #fff;
  border-radius: 5rem;
  box-shadow: 1rem 1rem 5rem rgba(90, 90, 90, 0.1);
  transform: translate(0, 0);
  transition: 0.5s;
}
.main_snscon .content ul li:hover {
  transform: translate(0, -10rem);
}
.main_snscon .content ul li a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main_snscon .content ul li a i {
  padding: 10rem;
  background: #fff;
  color: #999;
  font-size: 20rem;
  border-radius: 5rem 5rem 0 0;
}
.main_snscon .content ul li a .imgbox {
  height: 190rem;
  overflow: hidden;
  margin: 0 0 20rem 0;
}
.main_snscon .content ul li a > p {
  font-size: 16rem;
  line-height: 22rem;
  padding: 10rem 30rem 30rem;
}
.main_snscon .content ul li a .txt {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30rem;
}
.main_snscon .content ul li a .txt > p {
  font-size: 29rem;
  line-height: 34rem;
  font-weight: 100;
  margin: 0 0 auto 0;
}
.main_snscon .content ul li a .txt figure {
  width: 200rem;
  margin: 0 auto 20rem auto;
}
.main_snscon .content ul li a .txt span {
  display: inline-block;
  text-align: center;
  padding: 10rem 15rem 7rem 15rem;
  font-size: 14rem;
  border: 1px solid #999;
  color: #999;
  z-index: 3;
  transition: 0.5s;
}
.main_snscon .content ul li a .txt:hover figure {
  animation: jello-horizontal 1s 0.3s both;
}
.main_snscon .content ul li a .txt:hover span {
  background: #999;
  color: #fff;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 768px) {
  .main_snscon .content ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30rem;
  }
  .main_snscon .content ul li:hover {
    transform: translate(0, 0);
  }
  .main_snscon .content ul li a > p {
    padding: 10rem 20rem 30rem 20rem;
  }
  .main_snscon .content ul li a .txt:hover figure {
    animation: none;
  }
  .main_snscon .content ul li a .txt:hover span {
    background: none;
    color: inherit;
  }
}
.footer {
  padding: 50rem 0 60rem 0;
  border-top: 1px solid #e5e5e5;
}
.footer .ft {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50rem 0;
}
.footer .ft .foot_logo {
  display: flex;
  align-items: center;
  gap: 30rem;
}
.footer .ft .foot_logo > li > a img {
  width: 250rem;
}
.footer .ft .foot_customer {
  display: flex;
  align-items: center;
  gap: 30rem;
}
.footer .ft .foot_customer > li {
  position: relative;
  font-size: 14rem;
  color: #444;
}
.footer .ft .foot_customer > li a {
  display: block;
}
.footer .ft .foot_customer > li:not(:first-child):before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15rem;
  transform: translate(0, -50%);
  width: 1px;
  height: 12rem;
  background: #e5e5e5;
}
.footer .ft .foot_customer .strong {
  font-size: 16rem;
  font-weight: 500;
  color: #222;
}
.footer .ft::after {
  content: "";
  position: absolute;
  bottom: -25rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}
.footer .fb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .fb .foot_info {
  display: flex;
  flex-direction: column;
}
.footer .fb .foot_info li {
  font-size: 15rem;
  color: #444;
}
.footer .fb .foot_info li a {
  display: inline-block;
  font-size: 16rem;
  font-weight: 500;
  color: #000;
}
.footer .fb .foot_info li:not(.copy) {
  margin: 0 0 10rem 0;
}
.footer .fb .foot_info .copy {
  font-size: 12rem;
  color: #999;
  margin: 10rem 0 0 0;
}
.footer .fb .foot_sns {
  display: flex;
  gap: 10rem;
}
.footer .fb .foot_sns i {
  padding: 10rem;
  background: #222;
  color: #fff;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .footer {
    padding: 50rem 0 60rem 0;
  }
  .footer .ft {
    display: block;
    margin: 0 0 70rem 0;
  }
  .footer .ft .foot_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin: 0 0 30rem 0;
  }
  .footer .ft .foot_logo > li > a img {
    width: 150rem;
  }
  .footer .ft .foot_customer {
    justify-content: center;
    gap: 40rem;
  }
  .footer .ft .foot_customer > li {
    position: relative;
  }
  .footer .ft .foot_customer > li:not(:first-child):before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20rem;
    transform: translate(0, -50%);
    width: 1px;
    height: 12rem;
    background: #e5e5e5;
  }
  .footer .ft::after {
    bottom: -35rem;
  }
  .footer .fb {
    display: flex;
    flex-direction: column;
    gap: 30rem;
  }
  .footer .fb .foot_sns {
    display: flex;
    gap: 10rem;
  }
  .footer .fb .foot_sns i {
    background: #666;
  }
}
.side {
  position: fixed;
  top: 50%;
  right: 30rem;
  z-index: 999;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}
.side > div {
  position: relative;
  width: 60rem;
  height: 60rem;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  color: #666;
  cursor: pointer;
  transition: 0.5s;
}
.side > div .desc {
  width: 160rem;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translate(-110rem, -50%);
  font-size: 14rem;
  line-height: 1;
  text-align: right;
  color: #999;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.side > div:hover {
  border: 1px solid #d2a5fa;
  background: #d2a5fa;
  color: #fff;
}
.side > div:hover .desc {
  left: -100%;
  visibility: visible;
  opacity: 1;
}
.side i {
  line-height: 58rem;
  font-size: 24rem;
  vertical-align: middle;
}
.side span {
  font-size: 14rem;
  line-height: 60rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .side {
    top: auto;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
    flex-direction: row;
    gap: 0;
  }
  .side > div {
    border-radius: 0;
  }
  .side .login {
    display: none;
  }
  .side .vr {
    display: none;
  }
  .side .access {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */